<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="about-spacing">
                    <h6>About</h6>
                    <p class="text-justify">Hello, I'm <b>Matthew</b>, a committed student of Information Technology. Coding
                        fascinates me because of the limitless possibilities it offers. I'm always curious about
                        anything related to technology and enjoy discovering inventive solutions and understanding the
                        intricacies of programming languages. With a solid IT background, I am eager to take on
                        challenges and work towards a rewarding career in the coding world.</p>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <ul class="footer-links">
                    <h6>Linked Institutions</h6>
                    <li><a href="https://www.nyp.edu.sg">Nanyang Polytechnic</a></li>
                    <li><a href="https://my.london.ac.uk">University of London</a></li>
                    <li><a href="https://www.sim.edu.sg">Singapore Institue of Management</a></li>
                    <li><a href="https://scale.nus.edu.sg">National University of Singapore</a></li>
                    <li><a href="https://www.ntu.edu.sg">Nanyang Technological University</a></li>
                    <li><a href="https://www.smu.edu.sg">Singapore Management University</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <ul class="footer-links">
                    <h6>Quick Links</h6>
                    <li><a href="#">About Me</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Contributions</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by
                    <a href="#">Mttjy</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <ul class="social-icons">
                        <li><a class="facebook" href="https://www.facebook.com"><img width="34" height="34"
                                    src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="Facebook" /></a>
                        </li>
                        <li><a class="twitter" href="https://www.twitter.com"><img width="34" height="34"
                                    src="https://img.icons8.com/color/48/000000/twitter.png" alt="Twitter" /></a></li>
                        <li><a class="dribbble" href="https://www.instagram.com"><img width="34" height="34"
                                    src="https://img.icons8.com/color/48/000000/instagram.png" alt="Instagram" /></a>
                        </li>
                        <li><a class="linkedin" href="https://www.linkedin.com"><img width="34" height="34"
                                    src="https://img.icons8.com/color/48/000000/linkedin.png" alt="LinkedIn" /></a></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</footer>